# Build results
[Bb]in/
[Oo]bj/
[Bb]uild/

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates

# JetBrains Rider
.idea/
*.sln.iml

# tModLoader specific
.tld.backup*
*.zip

# Windows-specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# User-specific files
*.pidb
*.booproj
*.svd

# Temporary files
*.tmp
*.temp

# Log files
*.log

